* {
    box-sizing: border-box;
    margin: 0px;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}
nav{
    width: 1600px;
    height: 92px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 36px;
    padding-bottom: 36px;
    padding-left: 200px;
    padding-right: 200px;
    background-color: #412567;
}
nav img{
    width: 219px;
    height: 32px;
}
nav ul a{
    display: flex;
    text-decoration: none;
    color:white;
    font-size: 16px;
    font-weight: 500;
    
}
nav ul{
    display: flex;
    gap:32px;
}
nav ul li{ 
    list-style: none;
    
    
}
.btn{
    width: 135px;
    height: 44px;
    border: 0px;
    border-radius: 100px;
    gap:4px;
    align-items: center;
    text-align: center;
    font-weight:600 ;
    color: white;
    cursor: pointer;
    padding: 16 12px;
    background:linear-gradient(90deg,#F7E93F, #FB09B4, #9100F8);
    
    
}
.png{
    width: 15px;
    height: 12.5px;
}
.TechWave{
    width: 100%;
    max-width: 119px;
    height: 32px;
}

.list-item{
    display:flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    justify-content: space-between;
    gap: 32px;
    
}
.list-item li a{
    display: flex;
    text-decoration: none;
    color: white;
    
    

}
.btn{
    display: flex;
    border-radius:1000px;
    font-size: 16px;
    font-style: 600;
    font-weight:600;
    padding: 12px 16px 12px 16px;
    line-height: 19px;
    color: #FFFFFF;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
}
#hero-section{
    width: 1600px;
    height: 760px;
    background-position: center;
    background-image: url("./assets/hero-bg.png");
}
.hero-container{
    margin: 0 auto;
    width: 550px;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}
.hero-container img{
    display: block;
}
.microphone{
    max-width: 200px;
    height: 200px;
    position:absolute;
}
.main-container{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin:  auto;
    width: 550px;
    height: 101px;
    align-items: center;
    color: #FFFFFF;
    margin-top: -100px;
    margin-bottom:50px;
    
}
.main-container h2{
    font-size: 60px;
    margin-bottom: 8px;
}
.main-container p{
    line-height:20px;
    font-style: 400;
    font-size:16px;
    color: rgba(255, 255, 255, 1);
}
.btn-1{
    box-sizing: border-box;
    border-radius: 100px;
    padding: 12px 20px 12px 20px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    color:#FFFFFF;
    align-items: center;
    justify-content: center;
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    
}
.btn-2{
    width: 147px;
    max-height: 44px;
    border: 1px solid #00FF88;
    border-radius: 100px;
    margin-left:8px;
    background-color: transparent;
    color:#00FF88;
    padding: 12px 20px 12px 20px;
    align-items: center;
    justify-content: center;
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
}
