* {
    box-sizing: border-box;
    margin: 0px;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}
nav{
    /* width: 1600px;
    height: 92px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 36px;
    padding-bottom: 36px;
    padding-left: 200px;
    padding-right: 200px;
    background-color: #412567;
}
nav img{
    /* width: 219px;
    height: 32px; */
}
nav ul a{
    display: flex;
    text-decoration: none;
    color:white;
    font-size: 16px;
    font-weight: 500;
    
}
nav ul{
    display: flex;
    gap:32px;
}
nav ul li{ 
    list-style: none;
    
    
}
.btn{
    /* width: 135px;
    height: 44px; */
    border: 0px;
    border-radius: 100px;
    gap:4px;
    align-items: center;
    text-align: center;
    font-weight:600 ;
    color: white;
    cursor: pointer;
    padding: 16 12px;
    background:linear-gradient(90deg,#F7E93F, #FB09B4, #9100F8);
    
    
}
.png{
    width: 15px;
    height: 12.5px;
}
.TechWave{
    /* width:1600px;
    max-width: 119px;
    height: 32px; */
}

.list-item{
    display:flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    justify-content: space-between;
    gap: 32px;
    
}
.list-item li a{
    display: flex;
    text-decoration: none;
    color: white;
    
    

}
.btn{
    display: flex;
    border-radius:100px;
    font-size: 16px;
    font-style: 600;
    font-weight:600;
    padding: 12px 16px 12px 16px;
    line-height: 19px;
    color: #FFFFFF;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
}
#hero-section{
    /* width: 1600px; */
    height: 760px;
    background-position: center;
    background-image: url("./assets/hero-bg.png");
}
.hero-container{
    margin: 0 auto;
    width: 550px;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}
.hero-container img{
    display: block;
}
.microphone{
    max-width: 200px;
    height: 200px;
    position:absolute;
}
.main-container{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin:  auto;
    width: 550px;
    height: 101px;
    align-items: center;
    color: #FFFFFF;
    margin-top: -100px;
    margin-bottom:50px;
    
}
.main-container h2{
    font-size: 60px;
    margin-bottom: 8px;
}
.main-container p{
    line-height:20px;
    font-style: 400;
    font-size:16px;
    color: rgba(255, 255, 255, 1);
}
.btn-1{
    box-sizing: border-box;
    border-radius: 100px;
    padding: 12px 20px 12px 20px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    color:#FFFFFF;
    align-items: center;
    justify-content: center;
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    cursor: pointer;
    
}
.btn-2{
    width: 147px;
    max-height: 44px;
    border: 1px solid #00FF88;
    border-radius: 100px;
    margin-left:8px;
    background-color: transparent;
    color:#00FF88;
    padding: 12px 20px 12px 20px;
    align-items: center;
    justify-content: center;
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    cursor: pointer;
}
#about{
    /* width: 1600px;
    height: 646px; */
     background-color: #1A0B2E;
    gap: 16;
    /* border:2px solid greenyellow; */
    padding: 50px 200px 120px 200px;
    text-align: center;
    justify-content: center;
}
.about{
    /* width: 1600px; */
    /* height: 646px; */
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 50px 200px 120px 200px;

}
.about h2{
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: #FFFFFF;
}
.about p{
    color:#FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}
.number{
    display: flex;
    justify-content: space-between;
    align-items: end;
    text-align: end;
    margin-top: 160px;
}
.number h1{
    font-size: 48px;
    font-weight: 900;
    color: #00FF88;
    text-align: center;
    
}
.number p{
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
}

 #main-section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
    background-color: #230E3D;
    padding: 120px 200px 120px 200px;
}
 
 .box-1{
    grid-column: span 3;
    grid-row: span 1;
    /* border: 2px solid greenyellow; */
    text-align: center;
    
 }
 .box-1-h2{
    font-size: 48px;
    color: #FFFFFF;
    font-weight: 700;
    
 }

.box-2{
    grid-column: span 1;
    grid-row: span 2;
    /* border: 2px solid greenyellow; */
    background-color: #351165;
    text-align: left;
    border-radius: 10px;
    padding: 40px;
    gap: 16px;
}
.box-3{
    grid-column: span 2;
    grid-row: span 1;
    /* border: 2px solid greenyellow; */
    background-color: #351165;
    text-align: left;
    border-radius: 10px;
    padding: 40px;
    gap: 16px;

}
.box-4{
    grid-column: span 2;
    grid-row: span 1;
    /* border: 2px solid greenyellow; */
    background-color: #351165;
    text-align: left;
    border-radius: 10px;
    padding: 40px;
    gap: 16px;
}
.box-5{
    grid-column: span 2;
    grid-row: span 1;
    /* border: 2px solid greenyellow; */
    background-color: #351165;
    text-align: left;
    border-radius: 10px;
    padding: 40px;
    gap: 16px;
} 
.box-6{
    grid-column: span 1;
    grid-row: span 1;
    /* border: 2px solid greenyellow; */
    background-color: #351165;
    text-align: left;
    border-radius: 10px;
    padding: 40px;
    gap: 16px;

     
}
.box-h2{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 24px;
    margin-top: 16px;
}
.box-p{
    color: #FFFFFF;
    margin-top: 16px;
    font-size: 16px;
    font-weight: 400;
}
#main-content{
    display:grid;
    gap:20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 120px 180px 120px 180px;
    background-color: #1A0B2E;
}
.content-card-1{
    grid-column: span 3;
    grid-row: span 1;
    text-align: center;
    font-weight:700;
    font-size: 48px;
    color: #FFFFFF;
    /* border: 2px solid greenyellow; */
}
.content-card-2{
    grid-column: span 1;
    grid-row: span 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 3%;
    gap: 12px;
    padding: 24px;
    background-color: #250D44;
    /* border: 2px solid greenyellow; */
}
.content-card-3{
    grid-column: span 1;
    grid-row: span 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 3%;
    gap: 12px;
    padding: 24px;
    background-color: #250D44;
    /* border: 2px solid greenyellow; */
}
.content-card-4{
    grid-column: span 1;
    grid-row: span 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 3%;
    gap: 12px;
    padding: 10px;
    background-color: #250D44;
    /* border: 2px solid greenyellow; */
}
.content-card-5{
    grid-column: span 3;
    grid-row: span 1;
    text-align: center;
    font-weight:700;
    font-size: 48px;
    color: #FFFFFF;
    /* border: 2px solid greenyellow;  */
}
.content-card-6{
    grid-column: span 3;
    grid-row: span 1;
    display: flex;
    border-radius: 3%;
    gap: 12px;
    padding: 24px;
    background-color: #250D44;
    /* border: 2px solid greenyellow;  */
}
.host-description{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400
}
.content-card-h2{
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
}
.content-card-h3{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    gap: 20px;
}
.footer{
    /* padding-top: 80px; */
} 
.footer-contant{
    background-position: center;
    background-image: url("./assets/footer-bg.png");
    padding: 120px;
    /* max-width: 1600px; */
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #FAFAFA;
}
 .TechWave-f{
    padding:28px;
} 
.icon-img{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 40px;
    padding-bottom:28px;

}
.icon-img span{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;
    font-size: 16px;
    font-style: 500;
    color: #FFFFFF;
}
.footer-end{
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
}

@media screen and (max-width:576px){

} 
/* #none{
    display: none;
}  */